/* common css start */
body{
    margin: 0;
    font-family: playfairdisplay-regular,sans-serif;
    color: #626262;
    font-size: 16px;
    font-weight: 400;
    
}
/* common css end */


/* header start */
header{
    padding: 30px 0;
}
.container{
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
}
.logo{
    margin-top: 10px;
    float: left;
    width: 8%;
}
.logo a{
    display: block;
}
.logo a img{
    width: 100%;
}
.menu{
    float: right;
    width: 65%;
}
.menu ul{
    float: right;
    overflow: hidden;
}
.menu ul li{
    float: left;
    list-style: none;
}
.menu ul li a{
    display: inline-block;
    margin: 0px 50px;
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
}
.menu ul li a:hover{
    border-bottom: 2px solid #626262;
}
.menu ul li:last-child a{
    margin-right: 0;
}
/* header end */

/* banner start */
.b-img img{
    width: 100%;
}
/* banner end */

/* getaway start */
.getaway{
    padding: 100px 0 30px;
}
.container-2{
    overflow: hidden;
    margin: 0 auto;
    width: 80%;
}
.c-light{
    margin: 0;
    font-family: ubuntu-light, sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}
.c-title{
    margin: 20px 0 30px;
    font-size: 30px;
    font-weight: 400;
}
.c-text{
    margin: 0;
    line-height: 24px;
}
.g-link{
    margin-top: 40px;
    display: block;
    color: #626262;
    text-decoration: none;
}
/* getaway end */

/* blog start */

.blog{
    padding-bottom: 100px;
}
.sb-item{
    margin-top: 70px;
    width: 45%;
    float: left;
}
.sb-item:nth-child(even){
    margin-left: 6%;
}
.sb-img{
    margin-bottom: 20px;
}
.sb-img img{
    width: 100%;
}
/* blog end */

/* newsletter start */
.news{
    background-color: #F0F0F0;
    padding: 70px 0;
}
.sign-up{
    text-align: center;
}
.s-h1{
    color: #333333;
    margin-top: 0;
    margin-bottom: 70px;
}
.s-form{
    position: relative;
    margin: 0 auto;
    width: 400px;
}
.s-form input{
    font-family: playfairdisplay-regular, serif;
    font-size: 16px;
    color: #626262;
    width: 345px;
    height: 45px;
    border: none;
    border-bottom: 1px solid;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 45px;
}
.s-form input:focus{
    outline: 0;
}
.s-form button{
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    top: 15px;
    right: 0;
}
.s-form button:focus{
    outline: 0;
}
/* newsletter end */
/* button start */
.load{
    text-align: center;
}
.load button{
    margin: 100px;
    width: 165px;
    height: 60px;
    font-family: playfairdisplay-regular;
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid #626262;
    cursor: pointer;
}
.load button:hover{
    background-color: #626262;
    transition: 0.33s linear;
}

/* button end */

/* footer start */
footer{
    padding: 40px;
    background-color: #F0F0F0;
}
.pages{
    float: left;
}
.pages ul{
    list-style: none;
}
.pages ul li{
    float: left;
}
.pages ul li a{
    margin-right: 20px;
    color: #000;
    text-decoration: none;
}
.social{
    float: right;
}
.social ul{
    list-style: none;
}
.social ul li{
    margin-right: 20px;
    float: left;
    color: #000;
    font-weight: 400;
}
.social ul li:last-child{
    margin-right: 0px;
}
/* footer end */